//header
//hero block
//about us
//our mission
//team
//project
//contact
//footer

//header
header {
  position: fixed;
  z-index: 30;
  top: 0;
  background-color: var(--header-color);
}

//hero block
.hero-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 60px;
  background-image: url("../images/background-1.svg");
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: bottom;
  background-size: cover;

  @media (min-width: 992px) {
    justify-content: left;
    text-align: left;
    margin-bottom: 120px;
    background-clip: content-box;
    background-position: right;
    background-size: contain;
  }

  @media (min-width: 1200px) {
    margin-bottom: 100px;
  }

  @media (min-width: 1400px) {
    margin-bottom: 184px;
  }
}

.hero-block-content {
  display: block;
  margin-top: 20rem;

  .button {
    margin-top: 30px;
  }

  @media (min-width: 992px) {
    .button {
      margin-top: 70px;
    }
  }

  @media (min-width: 1200px) {
    .button {
      margin-top: 70px;
    }
  }

  @media (min-width: 1400px) {
    .button {
      margin-top: 90px;
    }
  }
}

//about us
.about-us-right {
  padding-top: 20px;

  @media (min-width: 768px) {
    padding-top: 0;
  }

  @media (min-width: 992px) {
    padding-left: 40px;
  }

  @media (min-width: 1200px) {
    padding-left: 120px;
  }

  @media (min-width: 1400px) {
    padding-left: 180px;
  }
}

//our mission
.our-mission {
  background-image: url("../images/background-2-mob.svg");
  background-clip: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--neutral-color);

  @media (min-width: 768px) {
    background-image: url("../images/background-2.svg");
  }
}

.our-mission-content {
  --our-mission-padding: 50px 10px 70px;

  padding: var(--our-mission-padding);

  .section-title {
    margin-bottom: 70px;
  }

  @media (min-width: 992px) {
    --our-mission-padding: 60px 100px 100px;

    .section-title {
      margin-bottom: 50px;
    }
  }

  @media (min-width: 1200px) {
    --our-mission-padding: 60px 130px 100px;

    .section-title {
      margin-bottom: 50px;
    }
  }

  @media (min-width: 1400px) {
    --our-mission-padding: 90px 160px 120px;

    .section-title {
      margin-bottom: 70px;
    }
  }
}

//team
.team {
  .team-logo-wrapper {
    text-align: center;
    margin-bottom: 50px;

    img {
      width: 90px;
    }
  }

  .team-info-wrapper {
    margin-bottom: 30px;

    .section-title {
      margin-bottom: 30px;
    }

    .button {
      margin-top: 30px;
    }
  }

  @media (min-width: 768px) {

    .team-logo-wrapper {
      margin-bottom: 0;

      img {
        width: 280px;
      }
    }

    .team-info-wrapper {
      margin-bottom: 0;

      .section-title {
        margin-top: 50px;
        margin-bottom: 50px;
      }

      .button {
        margin-top: 70px;
      }
    }
  }

  @media (min-width: 1400px) {

    .team-logo-wrapper {
      img {
        width: 360px;
      }
    }

    .team-info-wrapper {
      margin-bottom: 0;

      .section-title {
        margin-top: 50px;
        margin-bottom: 70px;
      }

      .button {
        margin-top: 90px;
      }
    }
  }
}

//project
.info-block-left {
  padding-right: 0;

  @media (min-width: 1200px) {
    padding-right: 6rem;
  }

  @media (min-width: 1400px) {
    padding-right: 8rem;
  }

  .u-h2 {
    margin-bottom: 5rem;
  }
}

.info-block-right {
  .list-title {
    font-size: var(--font-size);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 30px;

    @media (min-width: 768px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1400px) {
      margin-top: 2rem;
    }
  }
}

//contact
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    line-height: 150%;
  }

  .button {
    width: min-content;
    margin-top: 30px;

    @media (min-width: 992px) {
      margin-top: 70px;
    }

    @media (min-width: 1400px) {
      margin-top: 90px;
    }
  }
}

//footer
footer {
  padding: 35px 0 30px 0;

  .navigation-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 0;
  }

  .nav-item {
    margin: 0 0 20px 0;
  }

  @media (min-width: 768px) {
    .navigation-panel {
      height: var(--header-height);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    nav {
      display: block;
    }

    .nav-item {
      margin-left: 2.75rem;
    }
  }
}

.footer-hr {
  height: 1px;

  @media (min-width: 992px) {
    height: 2px;
  }
}
